@font-face {
  font-family: 'Bricolage Grotesque';
  src:
    url('/assets/fonts/BricolageGrotesque.woff2') format('woff2-variations');
  font-weight: 200 800;
  font-stretch: 75% 100%;
  font-variation-settings: "WDTH" var(--bricolage-wdth), "OPSZ" var(--bricolage-opsz), "wght" var(--bricolage-wght);
}

@font-face {
  font-family: 'Recursive';
  src:
    url('/assets/fonts/Recursive_VF_1.085--subset_range_english_basic.woff2') format('woff2-variations');
  font-weight: 300 1000;
  font-display: swap;
  font-style: oblique 0deg 15deg;
  unicode-range: U+0020-007F,U+00A9,U+2190-2193,U+2018,U+2019,U+201C,U+201D,U+2022;
}

:root{
  color-scheme: light-dark;

  --theme-lightest: #F9F9F4 /* Before: #F2E9DF */;
  --theme-lighter:  #E0DFAD /* Before: #CDCDA0 */;
  --theme-light:    #A4B87B /* Before: #97ae61 */;
  --theme-mid:      #4F993C /* Before: #4C922F */;
  --theme-dark:     #088D66 /* Before: #067d53 */;
  --theme-darker:   #025B54 /* Before: #00645A */;
  --theme-darkest:  #0F2933 /* Before: #0F2933 */;

  --font-base: "Recursive";
  --recursive-mono:0;
  --recursive-casl:0;
  --recursive-wght:400;
  --recursive-slnt:0;
  --recursive-CRSV:0.5;

  --font-headings: "Bricolage Grotesque";
  --bricolage-wdth: 100;
  --bricolage-opsz: .5;
  --bricolage-wght: 800;

  --gutter: var(--step-0);
  --measure: 65ch;
  --wrapper-max-width: var(--measure);

  --kerning: normal;
  --kerning-loose: .05ch;
  --kerning-tight: -.04ch;
  --kerning-caps: .1ch;

  --leading: 1.45;
  --leading-tight: .8;
  --leading-short: 1.36;
  --leading-slim: 1.18;
  --leading-fine: 1.09;
  --leading-flat: 1;
  --leading-loose: 1.7;

  --focus-ring: 2px solid currentColor;
  --focus-ring-offset: 2px;

  /* Step -10: 2.9071px → 2.1475px */
  --step--10: clamp(0.1342rem, 0.2011rem + -0.0863vw, 0.1817rem);
  /* Step -9: 3.4885px → 2.6844px */
  --step--9: clamp(0.1678rem, 0.2386rem + -0.0914vw, 0.218rem);
  /* Step -8: 4.1862px → 3.3554px */
  --step--8: clamp(0.2097rem, 0.2829rem + -0.0944vw, 0.2616rem);
  /* Step -7: 5.0235px → 4.1943px */
  --step--7: clamp(0.2621rem, 0.3352rem + -0.0942vw, 0.314rem);
  /* Step -6: 6.0282px → 5.2429px */
  --step--6: clamp(0.3277rem, 0.3968rem + -0.0892vw, 0.3768rem);
  /* Step -5: 7.2338px → 6.5536px */
  --step--5: clamp(0.4096rem, 0.4695rem + -0.0773vw, 0.4521rem);
  /* Step -4: 8.6806px → 8.192px */
  --step--4: clamp(0.512rem, 0.555rem + -0.0555vw, 0.5425rem);
  /* Step -3: 10.4167px → 10.24px */
  --step--3: clamp(0.64rem, 0.6556rem + -0.0201vw, 0.651rem);
  /* Step -2: 12.5px → 12.8px */
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  /* Step -1: 15px → 16px */
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  /* Step 0: 18px → 20px */
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  /* Step 1: 21.6px → 25px */
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  /* Step 2: 25.92px → 31.25px */
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  /* Step 3: 31.104px → 39.0625px */
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  /* Step 4: 37.3248px → 48.8281px */
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  /* Step 5: 44.7898px → 61.0352px */
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
  /* Step 6: 53.7477px → 76.2939px */
  --step-6: clamp(3.3592rem, 2.7828rem + 2.5621vw, 4.7684rem);
  /* Step 7: 64.4973px → 95.3674px */
  --step-7: clamp(4.0311rem, 3.2418rem + 3.508vw, 5.9605rem);

  --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);

}
/* Modern reset: https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* Compositions */
.wrapper {
  margin-inline: auto;
  max-width: clamp(16rem, var(--wrapper-max-width, 100vw), 80rem);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  position: relative;
}

/* Utilities */
.flow > * + * {
  margin-top: var(--flow-space, var(--step-2));
}


/*
VISUALLY HIDDEN UTILITY
Info: https://piccalil.li/quick-tip/visually-hidden/
*/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

html{
  background:light-dark(var(--theme-lighter), var(--theme-darker));
  color: light-dark(var(--theme-darkest), var(--theme-lightest));
  font-family: var(--font-base);
  line-height:var(--leading);
  font-size:var(--step-0);

  &[data-theme="light"]{
    background:var(--theme-lighter);
    color: var(--theme-darkest);
  }

  &[data-theme="dark"]{
    background:var(--theme-darkest);
    color: var(--theme-lightest);
  }

}

body{
  margin:var(--gutter);
}

main{
  background:light-dark(var(--theme-lightest), var(--theme-darkest));
  margin-inline-start:calc(-1*var(--gutter));
  margin-inline-end:calc(-1*var(--gutter));
  padding-inline-start:var(--gutter);
  padding-inline-end:var(--gutter);
}

header:has(.masthead){
  padding-block-end:var(--gutter);

}
section.masthead{
  display: flex;
  flex-flow:column;
  gap: var(--step--1);
  align-items:flex-start;
  padding-block-start:var(--gutter);

  & svg{
    width:var(--step-6);
    height:var(--step-6);

    & .circle{
      fill:light-dark(var(--theme-darker), var(--theme-lighter));
    }
    & .shape{
      fill:light-dark(var(--theme-lighter), var(--theme-dark));
    }
  }
}

h1, h2, h3, h4, .lede{
  font-family: var(--font-headings);
  font-variation-settings:
    "wdth" var(--bricolage-wdth),
    "opsz" var(--bricolage-opsz),
    "wght" var(--bricolage-wght);
}

h1{
  --bricolage-width:75;
  --bricolage-wght: 700;
  font-size: var(--step-5);
  letter-spacing:var(--kerning-tight);
  color:light-dark(var(--theme-darker), var(--theme-lighter));
  margin-block:0;
}

.lede{
  --bricolage-wdth: 100;
  --bricolage-wght: 420;
  margin-block-start:var(--space-s);
  padding-block-end:var(--gutter);
  font-size:var(--step-2);
  line-height:var(--leading);
  color:light-dark(var(--theme-darkest), var(--theme-lightest));
  text-wrap:balance;
}

/* https://smoothshadows.com/#djEsMSw2LDAuMDYsMjQsLTEyLDAsIzAzMDcxMiwjZjNmNGY2LCNmZmZmZmYsMg%3D%3D */
article{
  max-width:var(--measure);
  padding-block-start:var(--step-1);
  padding-block-end:var(--step-2);
  color:light-dark(var(--theme-darkest),var(--theme-lightest));

  & h2:first-of-type{
    margin-block-start:0;
  }
  & h2 + p, & h3 + p{
    margin-block-start:var(--space-2xs);
  }
  & p + p{
    margin-block-start:var(--space-xs);
  }
}

@media screen and (min-width:40em){
  section.masthead{
    display: inline-flex;
  }

  main{
    border-radius:var(--step--10);
  }
  article{
    padding-block-start:var(--step-2);
    padding-inline-start:var(--gutter);
    padding-inline-end:var(--gutter);
  }
}




h2{
  --bricolage-wdth: 93.75;
  --bricolage-wght: 600;
  font-size:var(--step-3);
  color:light-dark(var(--theme-mid), var(--theme-mid));
}
h3{
  --bricolage-wdth:87.5;
  --bricolage-wght:500;
  color:light-dark(var(--theme-dark), var(--theme-light));
  font-size:var(--step-2);
}

p,ul, em{
  font-variation-settings: "MONO" var(--recursive-mono), "CASL" var(--recursive-casl), "wght" var(--recursive-wght), "slnt" var(--recursive-slnt),"CRSV" var(--recursive-CRSV);
  --recursive-wght: 365;

 & strong{
   font-variation-settings: "wght" 585;
 }
}
em {
  --recursive-slnt: -15;
}

html[data-theme="light"]{
  & main{
    background:var(--theme-lightest);
    outline:var(--step--7) solid var(--theme-lightest);
    border:var(--step--5) solid var(--theme-lighter);
  }
  & section.masthead svg{
    & .circle{ fill:var(--theme-darker);}
    & .shape{  fill:var(--theme-lighter);}
  }
  & h1, .lede{color:var(--theme-darker);}
  & article{color:var(--theme-darkest);}
  & h2{color:var(--theme-dark);}
  & h3{color:var(--theme-mid);}
  & strong, a{color:var(--theme-darker);}
  & li::marker{color:var(--theme-darker);}
  & hr{
    background-image: linear-gradient(to left, var(--theme-lighter), var(--theme-lighter), var(--theme-lighter));
  }
}
html[data-theme="dark"]{
  & main{
    background: var(--theme-darker);
    outline:var(--step--7) solid var(--theme-darker);
    border:var(--step--5) solid var(--theme-darkest);
  }
  & section.masthead svg{
    & .circle{ fill:var(--theme-lighter);}
    & .shape{  fill:var(--theme-darkest);}
  }
  & h1, .lede{color:var(--theme-lighter);}
  & article{color:var(--theme-lightest);}
  & h2{color:var(--theme-light);}
  & h3{color:var(--theme-lighter);}
  & strong, a{color:var(--theme-lighter);}
  & li::marker{color:var(--theme-lighter);}
  & hr{
    background-image: linear-gradient(to right, var(--theme-darkest), var(--theme-darkest));
  }
}

ul{
  max-width:50ch;
  margin-inline-start:calc(-1*var(--step--2));
  & li{
    padding-block-end:;
  }
}

strong + p{
  margin-block-start:.15em;
}

hr{
  border: 0px solid;
  height: var(--step--7);
  border-radius:var(--step--10);
  display: block;

  &::before {
   position: absolute;
   left: 50%;
   margin: -5px 0px 0px -21px;
   content: ""; }

}

.light-mode-button {
    background:0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 100px;
    position: relative;
    border: 1px solid rgba(255,255,255,0);
}
.light-mode-button:focus {
    outline:none; /* Not ideal for accessibility */
}
.light-mode-button span:nth-child(1) {
    position: absolute;
    top:0;
    left:0;
    width: 100px;
    height:40px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}
.light-mode-button span:nth-child(2) {
    position: absolute;
    top:5px;
    left:5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

.palette{
  display:flex;
  flex-flow:row;
  flex-wrap:wrap;
  list-style-type:none;
  align-items:center;
  margin-block-start:var(--gutter);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "lightest lighter light"
    "mid mid mid"
    "dark darker darkest";
  border-radius:var(--gutter);
  clip-path:border-box;
  padding-inline-start:0;

  & li{
    font-size:var(--step--2);
    padding-block: .5em;
    text-align: center;

    &:nth-of-type(1){background:var(--theme-lightest);grid-area: lightest;}
    &:nth-of-type(2){background:var(--theme-lighter);grid-area: lighter;}
    &:nth-of-type(3){background:var(--theme-light);grid-area: light;}
    &:nth-of-type(4){background:var(--theme-mid);grid-area: mid;}
    &:nth-of-type(5){background:var(--theme-dark);grid-area: dark;}
    &:nth-of-type(6){background:var(--theme-darker);grid-area: darker;}
    &:nth-of-type(7){background:var(--theme-darkest);grid-area: darkest;}
  }
}
